.app__header{
   
   

}
.app__header-h1{
   
    color: black;
    letter-spacing: 0.04em;
    
    line-height: 25px;
    font-size: 20px;
    margin: 17px 0px;
}
.app__wrapper_info{
 
   
}
.app__wrapper_img{
    

}




