/* contact.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.containerofcontact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../../assets/cb2.jpg') center/cover no-repeat;
}

.containerofcontact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  
  z-index: -1;
}

.contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 100vh;
}

.contactInfo .box {
  padding: 20px 0;
  display: flex;
}

.contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}

.contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contactForm {
  width: 50%;
  height: 100vh;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
}

.contactForm p {
  margin: 13px 0px;
  font-size: 17px;
}

/* Apply text-align: center on p tags inside .contactForm for smaller screens */
@media (max-width: 1024px) {
  .containerofcontact {
    flex-direction: column;
  }

  .contactInfo,
  .contactForm {
    width: 100%;
  }

  .contactInfo {
    margin-bottom: 40px;
  }

  .contactForm p {
    text-align: center; /* Center the text content inside the p tags */
  }
}
.contactForm ul li{
    margin: 35px 0px;

}
