

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.main_div {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    
    
  }
  
  .center_div {
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 400px;
  }
  
  .center_div h1 {
    text-align: center;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: space-between;

   
   
  }
  
  .center_div input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
  }
  
  .buttonoftodo {
  
    
    padding: 4px 15px;
    font-size: 16px;
    font-weight: bold;
  
    border: none;
   
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: antiquewhite;
   
  }
  .buttonoftodo:hover{
    background-color: lightgreen;
  }
  
 
  
  ol {
    list-style-type: none;
    padding: 0;
  }
  
  .TodoList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .subcont {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
  }
  
  #submitbtn {
    background: antiquewhite;
    border: 2px solid black;
  }
  
 
  .todo_style{
    display: flex;
    border: 2px solid;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
  .todo_style li{
    margin-left: 5px;
    font-size: 18px;
  }
  .buttonoftodo2{
    margin-left: auto;
    display: inline-block;
    padding: 4px 15px;
    font-size: 16px;
    font-weight: bold;
  
    border: none;
   
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: antiquewhite;
  }
  .buttonoftodo2:hover{
    background-color: red;
  }

  .bodybackground{
    width: 100vw;
    height: 100vh;
    background-size: 100% 100% !important;
    background-position: center;
    background: url('../../assets/bg4.jpg');
    background-repeat: no-repeat;
    overflow: scroll;
  }
  .box1{
    position: relative;
  }
  .cont2{
    /* border: 2px solid black; */
    position: absolute;
    margin-top: 3%;
  right: 5%;
  font-family: 'Bungee Spice', cursive;
  font-size: 43px;

  }
  #btntd{
    color: black;
    font-size: 16px;
    font-weight: bold;
    background: antiquewhite;
    box-sizing: border-box;
    padding: 2px 6px;
    cursor: pointer;
}

@media (max-width: 1003px) {
  .main_div {

  
  flex-direction: column;

  }
  .cont2{
    display: none;
  }



}
@media (max-width: 400px) {
  .center_div input{
    font-size: 12px;

  }
  .center_div{
    width: 275px;
  }
  .container{
    width: 190px;

  }

}
  
  